div {
  width: 100%;
  height: 100%;
  background: #cbfdcd;
  padding: 20px;

  margin: 40px auto;
}

.form-container {
  form {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }

  label {
    margin: 0 0;
    text-align: left;
  }

  input {
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
  }

  button {
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
  }

  button:active {
    background: #4b4b4b;
  }
}

.description {
  white-space: pre-line;
}
